# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/

# macOS
.DS_Store

# Generated binaries (optional)

# Keys (DO NOT COMMIT)
keys/*.pem
keys/*_pub.pem
keys/*.json

# Python cache
src/**/__pycache__/